body{
    margin-left: 20px;
    margin-top: 20px;
}
.titulo1{
    color: red;
}
.titulo2{
    color: yellow;
}
.titulo3{
    color: red;
}
.div1{
    background-color: #fff99f;
    color: navy;
}
.div2{
    background-color: black;
    color: #ffff;
}
.div3{
    background-color: chartreuse;
    color: black;
}